 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>2016 : Full Stack Web Developer at LiveTalk24.gr</p>
                </div>
			</div>
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>2015 – 2016 : Android - Web Developer at iRemember.gr</p>
                </div>
			</div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>2015 – 2016 : Android Developer Freelancer</p>
                </div>
            </div>

        </div>
    </section>